@font-face{
	font-family: RalewayThin;
	src:url('RalewayThin.ttf') format('truetype');
	}
	body{
		font-family: RalewayThin;
		font-weight: bold;
	}

	#slider{
		position: relative;
		overflow: hidden;
		margin: 20px auto 0 auto;
		/*border-radius: 4px;*/
	}
	#slider ul{
		position: relative;
		margin: 0;
		padding: 0;
		height: 200px;
		list-style: none;
	}
	#slider ul li{
		position: relative;
		display: block;
		float: left;
		margin: 0;
		padding: 10px 0 0 20px;
		width: 500px;
		height: 300px;
		background: #39d1b4;
		line-height: 30px
	}

	/*a.control_next,*/ a.control_prev{
		position: absolute;
		top: 40%;
		z-index: 999;
		display: inline;
		padding: 4% 3%;
		width: auto;
		height: auto;
		background: #39d1b4;
		color: #fff;
		text-decoration: none;
		font-size: 18px;
		font-weight: 600px;
		opacity: 0.8;
		cursor: pointer; 

	}

	a.control_prev:hover/*, a.control_next:hover*/{
		opacity: 1;
	}
	/*a.control_next*/{
		right: 0;
		border-radius: 2px 0 0 2px;
	}

	a.control_prev{
		border-radius: 0 2px 2px 0;
	}